body {
    font-family: sans-serif;
    margin: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

#todo-list {
    margin-bottom: 20px;
}

#items-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
}

.progression {
    margin-top: 5px;
    font-size: 0.8em;
}

.progress-bar {
    width: 100%;
    background-color: #f1f1f1;
    height: 10px;
    display: flex;
}

.progress-bar-fill {
    background-color: #4caf50;
    height: 100%;
}

#add-todo-form, #add-progression-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 20px;
}

#add-todo-form input, #add-todo-form textarea, #add-progression-form input {
    margin-bottom: 10px;
    padding: 8px;
}

#add-todo-form button, #add-progression-form button, #print-button {
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#print-output {
    white-space: pre-wrap; /* Mantiene los saltos de línea */
}